/* GLOBAL AND MOBILE STYLES FIRST */

/* cloud background */

.background {
	width: 100%;
  height: 700px;
  position: relative;
  background: -webkit-linear-gradient(top, rgb(161,219,255) 0%,rgb(203,235,255) 53%,rgb(240,249,255) 100%); /* Chrome10+,Safari5.1+ */
  background-size: 100% 100%;
}

.clouds {
  width: 150px;
  height: 250px;
  position: absolute;
  overflow: hidden;
}

.cloud1 {
	top: 80px;
  z-index: 0;
  fill: #eee;
  /* Animation shorthand syntax order: name, duration, timing-function, delay, iteration-count, direction, fill-mode */
  -webkit-animation: move 25s linear infinite;
  -moz-animation: move 25s linear infinite;
  -o-animation: move 25s linear infinite;
  animation: move 25s linear infinite;
}

.cloud2 {
	top: 5px;
  z-index: 1;
  fill: #eee;
  -webkit-animation: move 35s linear 9s infinite backwards;
  -moz-animation: move 35s linear 9s infinite backwards;
  -o-animation: move 35s linear 9s infinite backwards;
  animation: move 35s linear 9s infinite backwards;
}

.cloud3 {
	top: 300px;
  z-index: 3;
  fill: #eee;
  -webkit-animation: move 40s linear 13s infinite backwards;
  -moz-animation: move 40s linear 13s infinite backwards;
  -o-animation: move 40s linear 13s infinite backwards;
  animation: move 40s linear 13s infinite backwards;
}


.cloud4 {
	top: 150px;
	z-index: 0;
  fill: #eee;
  -webkit-animation: move 30s linear 4s infinite backwards;
  -moz-animation: move 30s linear 4s infinite backwards;
  -o-animation: move 30s linear 4s infinite backwards;
  animation: move 30s linear 4s infinite backwards;
}

@-webkit-keyframes move {
  from {-webkit-transform: translateX(-400px);}
  to {-webkit-transform: translateX(1250px);}
}



body {
  margin:20px;
  padding:10px;
  background: white;
  /* text-align: center; */
   /* display: block;
  height: 1000px; */
  overflow-y: scroll;
  scroll-behavior: smooth;
  
}
h1, h2, h3 {
  font-size: 1.5em;
  margin: 0;
  padding: 1em;
  font-family: helvetica;
  text-align: center
}

p {
	
	font-family: verdana
}

main {
  background: white;
  margin: 10px;
  padding: .5em;
  display: block;
  height: 1000px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
/* section {
  background: red;
} */


/* header {
  background: red;
  color: #18d6ff;
  text-align: center;
} */

.logo{
	padding-top: 1em;
}

nav {
  background: #aaa;
  display: none;
  }
nav a {
  padding: 1em;
  display: inline-block;
  
}
#menu {
  padding: 1em;
  display: inline-block;
  text-align: left;
  width: 35px;
}
.show-menu {
  display: block;
  text-align: left;
  width: 80px;
}
a {
  color: #000;
  text-decoration: none;
}

.container-1{
    display:flex;
	justify-content: space-around;
	flex-direction:column;
    align-items:center;
	height: 650px;
	width: auto;

	  /*   
      align-items:flex-end;
      align-items:center;
	  test
	  
           
      */
    }
    
.container-2{
      display:flex;  
	  justify-content: center;
	flex-direction:column;
      align-items:center;
	  height: 450px;
	  width: auto;
	       
  }
  
  .box-2.2{
	margin: 30px;
	padding: 30px;
  }
  
.container-3{
    display:flex;  
    justify-content: center;
	flex-direction:column;
    align-items:center;
	height: auto;
	width: auto;

	}
	
	.container-4{
    display:flex;  
    justify-content: center;
	flex-direction:column;
    align-items:flex-strech;
	height: auto;
	width: auto;

	}
  
  .container-1 div, .container-2 div, .container-3 div{
    /* border:1px #ccc solid; */
    padding:10px;
	/* margin:25px; */
	height:100%;
	width:100%;
	justify-content: center;
  }
  
.container-4 div{
	
    /* border:1px #ccc solid; */
    padding:10px;
	margin:15px;
	height:auto;
	width:auto;
  }
  
    
 /*  .container-2-box{
    flex-basis: 25%;  
  }
  
  .container-3-box{
    flex-basis:25%;
  } */

.top {
  display: block;
  text-align: right;
  line-height: 1.75em;
  padding-right: 0.5em;
}
.top:hover {
  background: rgba(200,200,200,0.96);
  color: #fff;
  
 }
 
 #map {
	 height: 400px;
	 width: 90%;
  }
  
  /* form */
  
  input[type=text], select, textarea {
	width: 50%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 15px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 5px; /* Add a top margin */
    margin-bottom: 15px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
#submit{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
	width: 80px;
	height: 36px;
}

/* When moving the mouse over the submit button, add a darker green color */
#submit:hover {
    background-color: #45a049;
	width: 85px;
	height: 41px;
	transition-timing-function: ease-in-out;
}

/* my work slideshow */

.slideshow {
  margin: 2em auto 1em;
  width: 500px; /* altering this breaks the centering??? */
  height: 400px;
  overflow: hidden;
  position: absolute;
}

.slideshow img {
  position: absolute;
  width: 500px;
  animation: round 16s infinite;
  opacity: 0;
}

@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

img:nth-child(1) { animation-delay: 12s; }
img:nth-child(2) { animation-delay: 8s; }
img:nth-child(3) { animation-delay: 4s; }
img:nth-child(4) { animation-delay: 0s; }
 
 
 /* svg logo animation */

  svg{ width: 300px;}
 

.st0{fill:none;stroke:#000000;stroke-miterlimit:10;}
	#soni{
		stroke-dasharray: 800;
		stroke-dashoffset: 0;
		-webkit-animation: dash 3s linear forwards;
		
		
		/* -webkit-animation: fill 5s infinite; */
		}
		
	/* @-webkit-keyframes fill {
		to {
			fill: red;
		}
		
	} */
			
	@-webkit-keyframes dash{
		from{
			stroke-dashoffset: 800;
			}
		to{
			stroke-dashoffset: 0;
			background: red;
		}
	}
			
			#k{
			stroke-dasharray: 800;
			stroke-dashoffset: 0;
			-webkit-animation: dash 3s linear forwards;
			}
			
			@-webkit-keyframes dash{
				from{
					stroke-dashoffset: 800;
					}
				to{
					stroke-dashoffset: 0;
					}
			}
			
			#logo:hover .st0 {
				fill: #000;
				transition: 1.5s;
			}
			
.moveme {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 0 1em;
 /*  margin: 10em; */
  background-color: black;
  animation-name: movingBox;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  transform-origin:  10px 10px;
}

@keyframes movingBox {
  0%   { background-color:black; left: 0px; top: 0px;
			width: 20px;
		height: 20px;
		}
  
  100% { background-color: #f15a24; left: 0px; top: 0px;
		width: 40px;
		height: 40px;
		}
}	

/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {

} 
/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {
  
}
/* END SECOND BREAKPOINT */

