body {
  background-color: grey;
  font-family: 'Optima', sans-serif;
  margin: 0; 
}

main {
   max-width: 800px;
   padding: 1em;
   margin: 0 auto;
   /* margin-left: 250px; */
}

header {
  text-align: center;
  position: relative;
}


h1 {
  font-family: sans-serif;
  font-size: 2.5em;
}

h2, h3, h4, h5, h6 {
  padding-top: 1em;
  font-family: serif;
  text-decoration: underline;
}

/* #sidebar {
	position: fixed;
	width: 200px;
	height:100%;
	background:white;
	left:250px;
	transition: all 500ms linear;
}
#sidebar.active{
	left:0px;
}

#sidebar ul li{ 
color: black;
list-style: none;
padding: 15px 10px;
border-bottom: 1px solid grey;
} */
nav {
  text-align: center;
  position: fixed; 
   max-width: 25%;  
  top: 3em; 
  width: 75%;
}

nav ul li{
  padding: 1em;
  background-color: #58D3F7;
  list-style-type: none;
  
}

nav li {
  display: block;
}

nav a {
  color: black;
  border-bottom: 1px solid grey;
  display: block;
  text-decoration: none;
  padding: 1em;
  
  
}

nav a:hover {
  background: #58D3F7;
  font-size: 115%;
 
  
}



footer {
  background: #58D3F7;
  color: white;
  font-size: .5em;
  padding: 1em;
}

footer h2 {
  padding: 0;
  margin: 0;
}
