/* GLOBAL AND MOBILE STYLES FIRST */

.container-3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
 }

.item {
  height: 190px;
  width: 190px;
  margin: 5px;
  padding: 15px;
}

.outsidebox {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;
	width: 100px;
	margin-bottom: 50px;
	
}

.trigger {
	display: flex;
	position: relative;
	width: 100px;
	height: 100px;
	border: 10px solid #999;
	background: #eee;
	-webkit-animation: border 3s	ease-in-out 0s infinite;
}

	@-webkit-keyframes border{
		
	0% {
	  height: 50px;
	  
		}
		
	0% {
		height: 50px;
		width: 50px;
		opacity: (1);
		}

  50% {
	  height: 50px;
	  width: 50px;
	  opacity(0.5); ;
		  
	  }
	  
	100% {
		height: 50px;
		width: 50px;
		opacity: (1);
		}
	  
	 	  
}

.movebox{
	display: flex;
	position:relative;
	background: orange;
	width: 50px;
	height: 50px;
	-webkit-animation: thinkoutside 3s	ease-in-out 0s infinite;
}
	
	@-webkit-keyframes thinkoutside{
		
	0% {
	  height: 50px;
	  
		}
		
	0% {
		height: 25px;
		width: 100px;
		background: grey;
		-webkit-transform: translate(0px, 0px) rotate(0deg);
		}

  50% {
	  height: 25px;
	  width: 100px;
	  background: orange;
	  -webkit-transform: translate(100px, 75px) rotate(150deg) ;
		  
	  }
	  
	100% {
		height: 25px;
		width: 100px;
		background: grey;
		-webkit-transform: translate(0px, 0px) rotate(0deg);
		}
	  
	 	  
}
	
	
	



.box {
	display: flex;
	background: grey;
	width: 50px;
	height: 50px;
	position: relative;
	animation: standout 3s	ease-in-out 0s infinite;
	margin: 5px;
}

.box1 {
	display: flex;
	background: grey;
	width: 50px;
	height: 50px;
	position: relative;
	animation: blendin 3s ease-in-out 0s infinite;
	}
	
	.box3 {
	display: flex;
	background: grey;
	width: 50px;
	height: 50px;
	position: relative;
	animation: blendin 3s ease-in-out 0s infinite;
	}

@-webkit-keyframes standout{
		
	0% {
	  height: 50px;
	  
		}
		
	0% {
		height: 50px;
		width: 50px;
	}

  50% {
	  /* height: 62.5px;
	  width: 62.5px; */
	  background: orange;
	  border-radius: 40px;
	  }
	  
	  100% {
		height: 50px;
		width: 50px;
	}
	  
}

@-webkit-keyframes blendin{
		
	0% {
	  height: 50px;
	  
		}
		
	0% {
		height: 50px;
		width: 50px;
	}

  50% {
	  height: 35px;
	  width: 35px;
	 opacity: 0.75;
	  }
	  
	  100% {
		height: 50px;
		width: 50px;
	}
	  
}

.boxes {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	
}


.layout {
		display:flex;
		flex-direction: column;
}
body {
  margin:20px;
  padding:10px;
  background: white;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: center;
  
  
}
h1, h2, h3 {
  font-size: 1.5em;
  margin: 0;
  padding: 1em;
  font-family: helvetica;
  text-align: center
}

p {
	
	font-family: verdana
}


/* navigation */

nav {
  background: white;
  display: none;
  
  }
nav a {
  padding: 1em;
  display: block;

  
}
#menu {
  padding: 1em;
  display: inline-block;
  width: 35px;
  
}
.show-menu {
  display: block;
 
  
  }
  
a {
	 color: black;
  text-decoration: none;
  font-family:verdana;
}
	
	
	
/* splash animation */

.background {
	width: 100%;
  height: 700px;
  position: relative;
  background: -webkit-linear-gradient(top, rgb(161,219,255) 0%,rgb(203,235,255) 53%,rgb(240,249,255) 100%); /* Chrome10+,Safari5.1+ */
  background-size: 100% 100%;
  overflow: hidden;
}

.clouds {
  width: 75px;
  height: 125px;
  position: absolute;
  overflow: hidden;
  fill: #eeeeee;
}

.cloud1 {
	top: 80px;
	left: 00px;
  z-index: 0;
   /* Animation shorthand syntax order: name, duration, timing-function, delay, iteration-count, direction, fill-mode */
  -webkit-animation: move 25s linear infinite;
  -moz-animation: move 25s linear infinite;
  -o-animation: move 25s linear infinite;
  animation: move 25s linear infinite;
}

.cloud2 {
	top: 5px;
	left: 0px;
  z-index: 1;
   -webkit-animation: move 35s linear 4s infinite backwards;
  -moz-animation: move 35s linear 4s infinite backwards;
  -o-animation: move 35s linear 4s infinite backwards;
  animation: move 35s linear 4s infinite backwards;
}

.cloud3 {
	top: 300px;
	left: 40px;
  z-index: 3;
   -webkit-animation: move 40s linear 6s infinite backwards;
  -moz-animation: move 40s linear 6s infinite backwards;
  -o-animation: move 40s linear 6s infinite backwards;
  animation: move 40s linear 6s infinite backwards;
}


.cloud4 {
	top: 150px;
	left: 50px;
	z-index: 0;
   -webkit-animation: move 30s linear 3s infinite backwards;
  -moz-animation: move 30s linear 3s infinite backwards;
  -o-animation: move 30s linear 3s infinite backwards;
  animation: move 30s linear 3s infinite backwards;
}

@-webkit-keyframes move {
		
 0% {
	  -webkit-transform: translateX(-400px);
	  opacity: 0;
	}
	
0% { 
-webkit-transform: translateX(-100px);
opacity: 0;
	  }
	  
20% {opacity: 0.5;}

25% {opacity 0.9;}
	  
30% {opacity :1;}
	  
95% { opacity:0.5 ;
}

  100% {
	  -webkit-transform: translateX(500px);
	  opacity:0;
	  }
	  
}


.logo{
	padding-top: 1em;
}



 /* SVG Logo Animation */

  svg{ width: 200px;}
 

.st0{fill:none;stroke:#000000;stroke-miterlimit:10;}
	#soni{
		stroke-dasharray: 800;
		stroke-dashoffset: 0;
		-webkit-animation: dash 3s linear forwards;
		
		
		/* -webkit-animation: fill 5s infinite; */
		}
		
	/* @-webkit-keyframes fill {
		to {
			fill: red;
		}
		
	} */
			
	@-webkit-keyframes dash{
		from{
			stroke-dashoffset: 800;
			opacity: 0;
			}
		to{
			stroke-dashoffset: 0;
			opacity: 1;
		}
	}
			
			#k{
			stroke-dasharray: 800;
			stroke-dashoffset: 0;
			-webkit-animation: dash 3s linear forwards;
			}
			
			@-webkit-keyframes dash{
				0%{
					stroke-dashoffset: 800;
					}
				75%{
					stroke-dashoffset: 0;
					}
				100%{
					fill: blue;
				}
			}
			
			#logo:hover .st0 {
				fill: #000;
				transition: 1.5s;
			}
			
.moveme {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 0 1em;
 /*  margin: 10em; */
  background-color: black;
  animation-name: movingBox;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  transform-origin:  10px 10px;
}

@keyframes movingBox {
  0%   { background-color:black; left: 0px; top: 0px;
			width: 20px;
		height: 20px;
		}
  
  100% { background-color: #f15a24; left: 0px; top: 0px;
		width: 40px;
		height: 40px;
		}
}	




/*  Main Containers */
 

.container-1{
    display:flex;
	justify-content: space-around;
	flex-direction:column;
    align-items:center;
	height: 650px;
	width: auto;
	position:relative;

	  /*   
      align-items:flex-end;
      align-items:center;
	  test
	  
           
      */
    }
    
.container-2{
    display:flex;  
	justify-content: center;
	flex-direction:column;
    align-items:center;
	height: auto;
	width: auto;
	position:relative;
			}
  
  
  

	
		
	.container-4{
    display:flex;  
    justify-content: center;
	flex-direction:column;
    align-items:center;
	height: auto;
	width: auto;
	/* position:relative; */

	}
  
  .container-1 div, .container-2 div{
    /* border:1px #ccc solid; */
    padding:10px;
	/* margin:25px; */
	height:100%;
	width:100%;
	position: relative;
	
  }
  
.container-4 div{
	
    /* border:1px #ccc solid; */
   /*  padding:5px; */
	margin-bottom:15px;
	height:auto;
	width:auto;
	position: relative;
  }
  
  
  /* Sub Containers */
  
  .box-2.2{
	display: flex;
	flex-direction: row;
	margin: 30px;
	padding: 30px;
	position:relative;
	align-items: center;
	justify-content: space-between;
	
  }
  
  /*  .box-3.1 {
	 display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
	    } */
		
	/* .box-3.1 div{
		
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
		
	} */
	
	/* .media{
		 background: red;
  height: 190px;
  width: 190px;
  margin: 5px;
		
	} */
	
	/* img {
		max-width: 25%;
		padding: 2.5%;
	} */
  
  .box-4.1 {
	 display:flex;  
    justify-content: center;
	/* flex-direction:column; */
    align-items:flex-strech; 
	position: relative;
	
	    }
		
	.box-4.1 div{
		margin: 20px;
		padding:20px;
		position: relative;
		
	}
		
 	
	.box-4.2 {
	 display:flex;  
    justify-content: center;
	/* flex-direction:column; */
    align-items:flex-strech; 
	position: absolute;
	
	    }
		
	.box-4.2 div{
		margin: 20px;
		padding:20px;
		position: absolute;
		
	}

}


    
/* Smooth Scroll */

.top {
  display: block;
  text-align: right;
  line-height: 1.75em;
  padding-right: 0.5em;
}
.top:hover {
  background: rgba(200,200,200,0.96);
  color: #fff;
  
 }
 

/* Google API */

 #map {
	 height: 400px;
	 width: 90%;
	 position: relative;
  }
  
 

 /* Form */
  
  
  input[type=text], select, textarea {
	width: 50%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 15px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 5px; /* Add a top margin */
    margin-bottom: 15px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
	
}

/* Style the submit button with a specific background color etc */
#submit{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
	width: 80px;
	height: 36px;
}

/* When moving the mouse over the submit button, add a darker green color */
#submit:hover {
    background-color: #45a049;
	/* width: 85px;
	height: 41px;
	transition-timing-function: ease-in-out; */
	-webkit-filter: blur(0.5px) brightness(75%);
	filter: blur(0.5px) brightness(75%);
}


 






/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {
	
	
	
	svg{ width: 400px;}
	
	@-webkit-keyframes move {
		
 0% {
	  -webkit-transform: translateX(-200px);
	  opacity: 0;
	}
	
0% { 
-webkit-transform: translateX(-200px);
opacity: 0;
	  }
	  
20% {opacity: 0.5;}

25% {opacity 0.8;}
	  
30% {opacity :1;}
	  
95% { opacity:0.5 ;
}

  100% {
	  -webkit-transform: translateX(1000px);
	  opacity:0;
	  }
	  
}

} 
/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {
	svg{ width: 600px;}
	
	@-webkit-keyframes move {
		
 0% {
	  -webkit-transform: translateX(-200px);
	  opacity: 0;
	}
	
0% { 
-webkit-transform: translateX(-200px);
opacity: 0;
	  }
	  
20% {opacity: 0.5;}

25% {opacity 0.9;}
	  
30% {opacity :1;}
	  
95% { opacity:0.5 ;
}

  100% {
	  -webkit-transform: translateX(1100px);
	  opacity:0;
	  }
	  
}
  
}
/* END SECOND BREAKPOINT */


